<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <a href="/developers/create">Add new developer</a>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <% if (locals.developers) {%>
                <% developers.forEach((developer) => { %>
                    <tr>
                        <td><%= developer.id %></td>
                        <td><a href="/developers/<%= developer.id %>/update"><%= developer.name %></a></td>
                    </tr>
                <% }); %>
            <% } %>
        </table>
    </body>
</html>