<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <a href="/genres/create">Add new genre</a>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <% if (locals.genres) { %>
                <% genres.forEach((genre) => { %>
                    <tr>
                        <td><%= genre.id %></td>
                        <td>
                            <a href="/genres/<%= genre.id %>/update">
                                <%= genre.name %>
                            </a>
                        </td>
                    </tr>
                <% }); %>
            <% }; %>
        </table>
    </body>
</html>