<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <% if (locals.genres) { %>
                <% genres.forEach((genre) => { %>
                    <td><%= genre.id %></td>
                    <td><%= genre.name %></td>
                <% }); %>
            <% }; %>
        </table>
    </body>
</html>