<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <a href="/platforms/create">Add new platform</a>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <% if (locals.platforms) { %>
                <% platforms.forEach((platform) => { %>
                    <tr>
                        <td><%= platform.id %></td>
                        <td>
                            <a href="/platforms/<%= platform.id %>/update">
                                <%= platform.name %>
                            </a>
                        </td>
                    </tr>
                <% }); %>
            <% }; %>
        </table>
    </body>
</html>