<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <a href="/publishers/create">Add new publisher</a>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <% if (locals.publishers) {%>
                <% publishers.forEach((publisher) => { %>
                    <tr>
                        <td><%= publisher.id %></td>
                        <td><%= publisher.name %></td>
                    </tr>
                <% }); %>
            <% }; %>
        </table>
    </body>
</html>