<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% if (locals.errors) { %>
                <% errors.forEach((error) => { %>
                    <li><%= error.msg %></li>
                <% }); %>
            <% }; %>
        </ul>
        <form action="/genres/<%= genre.id %>/update" method="POST">
            <label for="name">Name:</label>
            <input type="text" name="genreName" id="name" value="<%= genre.name %>" required />
            <button type="submit">Update</button>
        </form>
    </body>
</html>