* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.navigation li {
    font-size: 2rem;
    margin: 30px 0;
    padding-left: 15px;    
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;   
    padding: 20px;
    text-align: center;
}

.add-container {
    text-align: center;
    font-size: 1.9rem;
    padding: 20px;
}

a:link, a:visited {
    color: blue;
}

a:hover {
    text-decoration: none;
}

.header {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    padding: 20px 0;
}

.subheader {
    text-align: center;
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
}

.search-form-row {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 16px;
}

label {
    font-style: italic;
}

.search-button {
    padding: 10px;
    font-weight: bold;
    background-color: darkorange;
    color: black;
    border-radius: 20px;
}

.delete-button {
    padding: 10px;
    background-color: darkred;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}

.delete-button:hover {
    opacity: 0.7;
}

.create-form-row {
    display: flex;
    justify-content: center;
    padding: 7px 0;
}

.create-form-row label {
    padding-right: 20px;
}

.create-form-row input {
    max-height: 25px;
}

.error {
    color: darkred;
    font-size: 1.5rem;
    text-align: center;
    padding: 5px 0;
    list-style-type: none;
    font-weight: bold;
}

input, select {
    max-width: 50vw;
}

.add-button, .update-button {
    padding: 15px 30px;
    background-color: navy;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}

.navigation a {
    color: darkgreen;
}